extends ./layout.jade

block content
	div.header Simple multiplayer ping pong game

	div Your hash is: 
		span#hash

	div Play with 
		input#opponent(type='text')
		a#connect(href='#') Connect

	div#request The player 
		span#opponent-hash
		|  want to play with you 

		a#accept(href='#') Accept 
		a#reject(href='#') Reject

	div#score

	div#game